{% extends "base.html" %}

{% block title %}Home - Tokens App{% endblock %}

{% block content %}
    <div class="container" style="width: 100%; height: 100vh; display: flex; flex-direction: column; justify-content: center; align-items: center;">
        <h1>Página inicial</h1>
        <div class="links">
            <button class="btn btn-primary" onclick="Tokens()">Clique aqui para ver a lista de tokens</button>
            <a href="{% url 'admin' %}" class="btn btn-warning">Área administrativa</a>
        </div>
    </div>

    <script>
        function Tokens() {
            window.location.href = "{% url 'lista_tokens' %}";
        }
    </script>
{% endblock %}