{% extends "base.html" %}

{% block title %}{{token}}{% endblock %}

{% block content %}
<form action="{% url 'novo_token' %}" method="POST" class="container mt-4"> 
    {% csrf_token %}

    <div class="mb-3">
        <label for="nome_responsavel" class="form-label">Nome do colaborador</label>
        <input type="text" class="form-control" name="nome_responsavel" id="nome_responsavel" value="{{ token.nome_responsavel }}" placeholder="Nome do colaborador" required>
    </div>

    <div class="mb-3">
        <label for="cpf" class="form-label">CPF do colaborador</label>
        <input type="text" class="form-control" name="cpf_responsavel" id="cpf" value="{{ token.cpf_responsavel }}" placeholder="000.000.000-00" maxlength="14">
    </div>

    <div class="mb-3">
        <label for="funcao_responsavel" class="form-label">Função</label>
        <select class="form-select" name="funcao_responsavel" id="funcao_responsavel">
            {% for funcao in funcoes %}
                <option value="{{ funcao }}">{{ funcao }}</option>
            {% endfor %}
        </select>
    </div>

    <!-- <div class="mb-3">
        <label for="setor_responsavel" class="form-label">Setor</label>
        <select class="form-select" name="setor_responsavel" id="setor_responsavel">
            {% for setor in setores %}
                <option value="{{ setor }}">{{ setor }}</option>
            {% endfor %}
        </select>
    </div> -->

    <!-- <div class="mb-3">
        <label for="telefone" class="form-label">Telefone do colaborador</label>
        <input type="text" class="form-control" name="telefone_responsavel" id="telefone" value="{{ token.telefone_responsavel }}" placeholder="(00) 00000-0000" maxlength="15">
    </div> -->

    <div class="mb-3">
        <label for="serial" class="form-label">Serial do token</label>
        <input type="number" class="form-control" name="serial" id="serial" value="{{ token.serial }}" placeholder="Serial do token" maxlength="14">
    </div>

    <div class="mb-3">
        <label for="data_solicitacao" class="form-label">Data de solicitação</label>
        <input type="date" class="form-control" name="data_solicitacao" id="data_solicitacao" value="{{ token.data_solicitacao }}">
    </div>

    <div class="mb-3">
        <label for="data_entrega" class="form-label">Data de entrega</label>
        <div class="input">
            <input type="date" class="form-control" name="data_entrega" id="data_entrega" value="{{ token.data_entrega }}" disabled>
            <label for="entregue">Entregue? </label>
            <input type="checkbox" name="entregue" id="entregue" class="form-check-input" onchange="console.log(this.checked)">
            <label for=""></label>
        </div>
    </div>

    <div class="mb-3">
        <label for="observacao" class="form-label">Observação</label>
        <textarea class="form-control" name="observacao" id="observacao" rows="3" placeholder="Observação">{{ token.observacao }}</textarea>
    </div>

    <div class="d-flex gap-2">
        <a href="{% url 'lista_tokens' %}" class="btn btn-secondary">Voltar para a lista de tokens</a>
        <button type="submit" class="btn btn-primary">Cadastrar Token</button>
    </div>
</form>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
<script>

    var entregue = document.getElementById("entregue");

    var data_entrega = document.getElementById("data_entrega");

    entregue.addEventListener("change", ()=>{
        if (entregue === true || entregue.checked) {
            data_entrega.removeAttribute("disabled");
            data_entrega.setAttribute("required", "required");
        } 
        else {
            data_entrega.setAttribute("disabled", "disabled");
            data_entrega.removeAttribute("required");
            data_entrega.value = "";
        }
    })
    document.body.style.marginTop = "50px";
    var cpf = document.getElementById("cpf");
    $(document).ready(function () {
        $('#cpf').mask('000.000.000-00');
    });
    $(document).ready(function () {
        $('#telefone').mask('(00) 00000-0000');
    });
</script>
{% endblock %}